@import ../../assets/styles/variables

.app-header-container
  display: flex
  flex-direction: column
  align-items: flex-start
  width: 100%

  .title-sign-in
    font-size: $title-sign-in-font-size
    font-weight: bold
    &__position
      margin-bottom: 9px

  .subtitle-sign-in
    font-size: $subtitle-sign-in-font-size
    color: $subtitle-sign-in-color
    &__position
      margin-bottom: 24px







