@import ../../assets/styles/variables

.input-basic-sign-in
  width: 100%
  height: 44px
  border-radius: 3px
  border: solid 1px #151515
  background: $input-sign-in-bg-color
  color: $input-sign-in-color
  font-size: $input-sign-in-font-size
  outline: none
  -webkit-appearance: none
  padding: 14.3px 13px 14.3px
  box-sizing: border-box
  font-family: $generalFont
  letter-spacing: normal

  &_position
    margin-top: 9.5px
    margin-bottom: 16.8px

.label-basic-sign-in
  font-size: $label-sign-in-font-size
  font-weight: normal
  color: $label-sign-in-color

.container-basic-sign-in
  display: flex
  flex-direction: column

.input-basic-alert
  width: 100%
  height: 36px
  padding: 9px 9px 9px
  border-radius: 3px
  border: solid 1px #cccccc
  box-sizing: border-box
  outline: none

.label-basic-alert
  font-size: 13px
  color: #777
